.item {
  border-bottom: 1px solid #d1d5db;
}

.header {
  align-items: center;
  display: flex;

  cursor: pointer;
  padding: 16px;
}

.toggle {
  margin-right: 12px;
}

.title {
  flex: 1;
}

.content {
  border-top: 1px solid #d1d5db;
  padding: 16px;
}

.item--collapsed .content {
  display: none;
}
.item--expanded .content {
  display: block;
}
