.arrow-button {
  background-color: transparent;

  height: 12px;
  width: 12px;
}

.arrow-button--r {
  border-right: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  transform: translateX(-25%) rotate(45deg);
}
